/* ress */
@import url(~ress/ress.css);

/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

/* variables */
:root {
    --primary: #333333;
    --secondary: #8c8c8c;
    --main: #233145;
    --main2: #3D566F;
    --accent: #F1AC5F;
    --finished: #4cb674;
    --unfinished: #F07751;
}

/* base styles */
* {
    font-family: 'Noto Sans', sans-serif;
}
body {
    background-color: #f2f2f2;
    color: var(--primary);
}
section {
    margin: 0 auto;
}
h1, h2, h3 {
    color: var(--main);
    text-align: center;
}
h2 {
    margin-bottom: 24px;
}

/* buttons */
button, .btn {
    border-radius: 10px;
    background: white;
    border: 2px solid var(--accent);
    padding: 10px 24px;
    transition: all 0.3s;
    font-weight: 600;
    color: var(--main);
}
/* inline button */
button.create {
    margin: 0 auto;
    /* background: var(--main2); */
    display: inherit;
    /* color: white; */
    margin-top: 16px;
    font-weight: 300;
}
button:hover, .btn:hover {
    background-color: var(--accent);
    color: var(--main);
}
button.gray {
    border: none;
}

/* forms */
form {
    max-width: 480px;
    border-radius: 10px;
    background: white;
    margin: 32px auto;
    padding: 40px 32px;
    /* border: 1px solid var(--secondary); */
}

input, textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 24px auto;
    border: 0.5px solid #d7d7d7;
    margin-top: 8px;
    max-height: 300px;
}

form > label {
    text-align: left;
    display: block;
}

.inline-form {
    padding: 16px 24px;
    border-radius: 4px;
    max-width: 600px;
    margin: 16px auto;
  }
.inline-form input {
  text-align: center;
}

/* modal */
.modal {
    margin: 100px auto;
    text-align: center;
}
.modal h3 {
    margin-bottom: 8px;
}
.modal p {
    color: var(--secondary);
}
.single-list {
    margin: 24px auto;
    padding: 8px 10px;
    background: white;
    border-bottom: 0.5px solid #d7d7d7;
    max-width: 600px;
  }
.single-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.lists-container {
    max-width: 600px;
    background: white;
    border-radius: 4px;
    margin: 24px auto;
    padding: 24px;
}

/* error text */
.error {
    color: var(--unfinished);
    margin: 18px 0;
    text-align: center;
}

.material-icons {
    cursor: pointer;
    color: var(--secondary);
    vertical-align: middle;
}
.material-icons:hover{
    color: var(--main);
}
.material-icons.finish:hover {
    color: var(--finished);
}
a {
    text-decoration: none;
}